.servo-input {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.servo-input .si-range-box {
    display: flex;
    gap: 1rem;
}

.servo-input .si-id {
    color: var(--clr-base-fg-alt);
}

.servo-input .si-range-box .si-value-display {
    width: 3rem;
    text-align: center;
    font-weight: bolder;
}

.servo-input .si-range-box .si-range-input {
    accent-color: var(--clr-base-fg-alt);
    width: 100%;
}

.servo-input .si-toggle-attach-btn {
    padding: .2rem .4rem;
    cursor: pointer;
    transition: .3s ease-in-out;
    width: 8rem;

    color: var(--clr-base-fg-alt);
    border: 1px solid var(--clr-base-fg-alt);
}

.servo-input .si-toggle-attach-btn:hover,
.servo-input .si-toggle-attach-btn.js-dettached {
    color: var(--clr-base-fg);
    background-color: var(--clr-base-fg-alt);
}
