/** Base HSL color codes to easely grap each value if needed to compose a
 * single color variable with the `hsl()` function */
:root {
    --clr-bg-h: 0;  --clr-prim-h: 0;    --clr-secc-h: 0;
    --clr-bg-s: 0%; --clr-prim-s: 0%;   --clr-secc-s: 100%;
    --clr-bg-l: 0%; --clr-prim-l: 100%; --clr-secc-l: 50%;
}

/** Base colors that compose the main pallet, it was created to use it instead
 * of writing a massive `hsl()` that uses the variables above */
:root {
    --clr-base-bg:     hsl(var(--clr-bg-h), var(--clr-bg-s), var(--clr-bg-l));
    --clr-base-fg:     hsl(var(--clr-prim-h), var(--clr-prim-s), var(--clr-prim-l));
    --clr-base-fg-alt: hsl(var(--clr-secc-h), var(--clr-secc-s), var(--clr-secc-l));
}

